:root{
    --ff-primary: 'Roboto', sans-serif;
    --ff-accent: 'Playfair Display' serif;
}

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: min(3.22vw, 3.0rem);
    line-height: 1.6;
    background-color: #fcfdff;
}

.navbar{
    background-color: #fcfdff;
    margin: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    list-style: none;
    text-decoration: none;
    gap: 3vw;
    justify-content: center;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.hero{
    background-color: #fcfdff;
}
/* the middle sections add some margin on them so theyre all equal */
section{
    padding: 3rem 0;
    background-color: #fcfdff;
    margin-left: 3rem;
    margin-right: 3rem;
    border-bottom: gray solid;
}

.container{
    margin: 0 auto;
    width: min(90% 70.5rem);
}

img {
    display: block;
    max-width: 100%;
}
.app{
    /* display: flex;
    flex-direction: column; */
}