:root{
    --ff-primary: 'Roboto', sans-serif;
    --ff-accent: 'Playfair Display' serif;
}

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.6;
}

/* the middle sections add some margin on them so theyre all equal */
section{
    padding: 3rem 0;
}

.container{
    margin: 0 auto;
    width: min(90% 70.5rem);
}

img {
    display: block;
    max-width: 100%;
}
.app{
    /* display: flex;
    flex-direction: column; */
}